<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

    <title>@Model["SiteTitle"]</title>

    <link href="assets/css/main.css" rel="stylesheet" />
    <link href="assets/css/atom-one-light.min.css" rel="stylesheet" />

    <link rel="canonical" href='https://@Model["ServiceDomain"]/'>
    <link rel="icon" sizes="48x48" href="assets/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="assets/images/govuk-icon-mask.svg" color="#0b0c0c">
    <link rel="apple-touch-icon" href="assets/images/govuk-icon-180.png">

    <meta name="twitter:card" content='summary' />
    <meta name="twitter:domain" content='@Model["ServiceDomain"]' />
    <meta name="twitter:image" content='https://@Model["ServiceDomain"]/assets/govuk/assets/images/govuk-opengraph-image.png' />
    <meta name="twitter:title" content='About - @Model["SupplierName"] - @Model["ServiceName"]' />
    <meta name="twitter:url" content='https://@Model["ServiceDomain"]' />

    <meta property="og:image" content='https://@Model["ServiceDomain"]/assets/govuk/assets/images/govuk-opengraph-image.png' />
    <meta property="og:site_name" content='@Model["ServiceName"]' />
    <meta property="og:title" content='About - @Model["SupplierName"] - @Model["ServiceName"]' />
    <meta property="og:type" content='object' />
    <meta property="og:url" content='https://@Model["ServiceDomain"]' />
</head>